<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='styles/view.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view.css') }}" media="screen" />
  <title>Finn RealEstate Data</title>
</head>

<div class='wrap'>
<div id="toogleGraph" onclick="toggleGraph()">Graphs</div>
<br /><br />
<div id="graph">
  <div class="plot">
    <img src="data:image/png;base64, {{ plot_url_links }}" style="padding-right: 50px"><img src="data:image/png;base64, {{ plot_url_sold }}">
  </div>
</div>

<br /><br /><br />
<div id="toogleReports" onclick="toggleReports()">Reports</div>
<br /><br />
<div id="reports">

<input type="date" id="date">
<select id="mySelect" onchange="changeView()">
  <option value="list" style="color:#000000;">List View</option>
  <option value="map" style="color:#000000;">Map View</option>
</select>
<span id="loading" style="display: none">Fetching Results...!</span>
<br/><br/>
<div class="tab">
  <button class="tablinks" onclick="viewData(event, 'RealEstates')">RealEstates Added</button>
  <button class="tablinks" onclick="viewData(event, 'Price')">Price Ups And Downs</button>
  <button class="tablinks" onclick="viewData(event, 'Sold')">RealEstates Sold</button>
  <button class="tablinks" onclick="viewData(event, 'Visnings')">Visnings</button>
</div>

<div id="RealEstates" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'">x</span>
  <div id="realestates_map" class="mapping"></div>
  <div id="realesates_list"></div>
</div>

<div id="Price" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'">x</span>
  <div id="price_map" class="mapping"></div>
  <div id="price_list"></div>
</div>

<div id="Sold" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'">x</span>
  <div id="sold_map" class="mapping"></div>
  <div id="sold_list"></div>
</div>

<div id="Visnings" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'">x</span>
  <div id="visnings_map" class="mapping"></div>
  <div id="visnings_list"></div>
</div>
</div>
</div>
</body>
</html>