<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="static/styles/view.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/view.css" media="screen"/>
  <title>Finn RealEstate Data</title>
</head>

<div class='wrap'>
  <div id="toggleGraph" onclick="toggle('graph')"><span>Graphs</span>
  <span id ="expandGraph">
    <img src="../static/image2.png" id="graph_img">
  </span>
  </div>
  <p style="font-size: 25px; color: white; text-align: right;" >
    <a href="#reports" style="color:#FFFFFF;">Click to see detailed reports.</a>
  </p>
  <br/><br/>
  <div id="graph">
    <div class="plot">
      <img src="data:image/png;base64, {{ plot_url_links }}" style="width: 100%"><img
      src="data:image/png;base64, {{ plot_url_sold }}" style="width: 100%">
    </div>
  </div>

  <br/><br/><br/>
  <div id="toggleReports" onclick="toggle('reports')">Reports
  <span id ="expandReports">
    <img src="../static/image2.png" id="report_img">
  </span>
  </div>
  <br/><br/>
  <div id="reports">
    <div id="view_toggle" onclick="toggle('view_data')">Upcoming Visnings
      <span id ="expandViews">
        <img src="../static/image2.png" id="view_img">
     </span>
    </div>
      <div id="view_data">
        <input type="date" id="visnings_date">
        <select id="visnings_mySelect" onchange="changeView('visnings')">
          <option value="list" style="color:#000000;">List View</option>
          <option value="map" style="color:#000000;">Map View</option>
        </select>
       <div class="tooltip">(?)
           <span class="tooltiptext">Select only upcoming dates.</span>
       </div>
        <span id="loading_visnings" style="display: none">Fetching Results...!</span>
        <br/><br/>
        <div class="tab">
          <button class="tablinks" onclick="viewData(event, 'Visnings')">Visnings</button>
        </div>
        <div id="Visnings" class="tabcontent">
          <span onclick="this.parentElement.style.display='none'">x</span>
          <div id="visnings_map" class="mapping"></div>
          <div id="visnings_list"></div>
        </div>
      </div>
  <br/><br/><br/>
    <div id="sold_toggle" onclick="toggle('sold_data')"> Sold Houses
      <span id ="expandSold">
        <img src="../static/image2.png" id="sold_img">
      </span>
    </div>
      <div id="sold_data">
        <input type="date" id="sold_date">
        <select id="sold_mySelect" onchange="changeView('sold')">
          <option value="list" style="color:#000000;">List View</option>
          <option value="map" style="color:#000000;">Map View</option>
        </select>
       <div class="tooltip">(?)
           <span class="tooltiptext">Select date less than or equal to today's date.</span>
       </div>
        <span id="loading_sold" style="display: none">Fetching Results...!</span>
        <br/><br/>
        <div class="tab">
          <button class="tablinks" onclick="viewData(event, 'Sold')">RealEstates Sold</button>
        </div>
        <div id="Sold" class="tabcontent">
          <span onclick="this.parentElement.style.display='none'">x</span>
          <div id="sold_map" class="mapping"></div>
          <div id="sold_list"></div>
        </div>
      </div>
  <br/><br/><br/>
    <div id="price_toggle" onclick="toggle('price_data')"> Price Statistics
      <span id ="expandPrice">
        <img src="../static/image2.png" id="price_img">
      </span>
    </div>
      <div id="price_data">
         <br/>
        <select id="price_mySelect" onchange="changeView('price')">
          <option value="list" style="color:#000000;">List View</option>
          <option value="map" style="color:#000000;">Map View</option>
        </select>
        <br/><br/>
        <div class="tab">
          <button class="tablinks" onclick="viewData(event, 'Price')">Price Statistics</button>
        </div>
        <div id="Price" class="tabcontent">
          <span onclick="this.parentElement.style.display='none'">x</span>
          <div id="price_map" class="mapping"></div>
          <div id="price_list"></div>
        </div>
      </div>
  <br/><br/><br/>
    <div id="realestates_toggle" onclick="toggle('realestates_data')"> Realestates Ads
      <span id ="expandAds">
        <img src="../static/image2.png" id="ads_img">
      </span>
    </div>
      <div id="realestates_data">
        <input type="date" id="realestates_date">
        <select id="realestates_mySelect" onchange="changeView('realestates')">
          <option value="list" style="color:#000000;">List View</option>
          <option value="map" style="color:#000000;">Map View</option>
        </select>
        <div class="tooltip">(?)
           <span class="tooltiptext">Select date less than or equal to today's date.</span>
       </div>
        <span id="loading_realestates" style="display: none">Fetching Results...!</span>
        <br/><br/>
        <div class="tab">
          <button class="tablinks" onclick="viewData(event, 'RealEstates')">RealEstates Added</button>
        </div>
        <div id="RealEstates" class="tabcontent">
          <span onclick="this.parentElement.style.display='none'">x</span>
          <div id="realestates_map" class="mapping"></div>
          <div id="realestates_list"></div>
        </div>
      </div>
  </div>
</div>
</body>
</html>